body{
    margin: 0px;
    padding: 0px;
}

ul{
    margin: 0px;
    padding: 0px;
}

li{
    float: left;
    list-style: none;
}

@toppicColor:#246c9b;
@buttonColor:#9fbdd2;

.nav{
    height: 40px;
    color: #fff;
    background-color: @toppicColor;
    ul{
        li{
            margin: 10px 20px;
            cursor: pointer;
        }
    }
    .leftNav{
        float: left;
        margin-left: 40px;
    }
    .rightNav{
        float: right;
        margin-right: 40px;
    }
}

// 表单去表格样式
.inputNoBorder(){
    padding: 5px;
    border:none;
    outline:none;
}

.topHandle{
    margin: 16px auto;
    width: 1200px;
    >div{
        display: inline-block;
    }
    .topLogo{
        img{
            float: left;
            height: 32px;
        }
        span{
            margin-left: 10px;
            font-size: 24px;
            color: @toppicColor;
        }
    }
    .searchGoods{
        float: right;
        border: 1px solid @toppicColor;
        border-radius: 5px;
        input{
            .inputNoBorder;
        }
    }
    .mainHandle{
        float: right;
        button{
            .inputNoBorder;
            border-radius: 5px;
            color: rgb(255,255,255);
            background-color: @buttonColor;
        }
    }
}