body{
    margin: 0px;
    padding: 0px;
}

ul{
    margin: 0px;
    padding: 0px;
}

li{
    float: left;
    list-style: none;
}

@toppicColor:#246c9b;

.nav{
    height: 40px;
    color: #fff;
    background-color: @toppicColor;
    ul{
        li{
            margin: 10px 20px;
            cursor: pointer;
        }
    }
    .leftNav{
        float: left;
        margin-left: 40px;
    }
    .rightNav{
        float: right;
        margin-right: 40px;
    }
}