body{
    margin: 0px;
    padding: 0px;
    background: url(../img/blueBg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

li{
    list-style: none;
}

input{
    outline: none;
}

button{
    outline: none;
    cursor: pointer;
}

[v-cloak] {
    display: none;
}

@wavColor:#fff;
@letterSpace:4px;
.top{
    position: relative;
    overflow: hidden;
    .topTitle {
        @fontSize:32px;
        float: left;
        margin: 40px 130px;
        width: (@letterSpace+@fontSize)*4;
        font-size: @fontSize;
        letter-spacing: @letterSpace;
        color: #fff;
        cursor: pointer;
        overflow: hidden;
        &:hover .wav{
            animation:wavMove .5s linear 0s infinite none;
        }
    }
    // .wav{
    //     content: " ";
    //     width: 120%;
    //     height: 7.5px;
    //     background-size: 15px 15px;
    //     background-repeat: repeat-x;
    //     background-image: linear-gradient(135deg,transparent 45%, @wavColor 55%,transparent 60%),linear-gradient(45deg,transparent 45%,@wavColor 55%,transparent 60%);
    // }
}

@keyframes wavMove{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform:translateX(-15px);
    }
}


// 星星
.starImg{
    width: 0px;
    height: 0px;
    img{
        position: fixed;
    }
    .meteor{
        // top: 10px;
        // right: 10px;
        // animation: meteorMove 1s linear 0s infinite none;
    }
    .shine1{
        animation:starShine 4s linear 0s infinite none;
    }
    .shine2{
        animation:starShine 5s linear 0s infinite none;
    }
    .shine3{
        animation:starShine 6s linear 0s infinite none;
    }
}

// @moveLength:40px;
// @keyframes meteorMove{
//     0%{
//         top: 10px;
//         right: 10px;
//         opacity: 0;
//     }
//     50%{
//         top: 10px+@moveLength;
//         right: 10px+@moveLength;
//         opacity: 1;
//     }
//     100%{
//         top: 10+2*@moveLength;
//         right: 10px+2*@moveLength;
//         opacity: 0;
//     }
// }

@keyframes starShine{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

// 蚂蚁图
.ants{
    position: fixed;
    left: 65%;
    top: 45%;
    img{
        width: 240px;
        transform:skewX(0deg);
        animation:antsMove 5s linear 0s infinite none;
    }
}

@keyframes antsMove{
    0%{
        transform: translateX(0%) skewX(0deg);
    }
    25%{
        transform: translateX(3%) skewX(2deg);
    }
    75%{
        transform: translateX(-3%) skewX(-2deg);
    }
    100%{
        transform: translateX(0%) skewX(0deg);
    }
}

// 海浪图
.sea{
    position: fixed;
    bottom: 0px;
    width: 120%;
    >img{
        position: absolute;
        width: 100%;
        &:first-child{
            left: -20px;
            bottom: -150px;
            animation:bSeaMove 5s linear 0s infinite none;
        }
        &:last-child{
            left: -20px;
            bottom: -200px;
            animation:fSeaMove 5s linear 0s infinite none;
        }
    }
}

@keyframes fSeaMove{
    0%{
        left: -20px;
    }
    25%{
        left:0px;
    }
    75%{
        left:-40px;
    }
    100%{
        left:-20px;
    }
}

@keyframes bSeaMove{
    0%{
        left: -20px;
    }
    25%{
        left:-40px;
    }
    75%{
        left:0px;
    }
    100%{
        left:-20px;
    }
}

// 鱼
.fish{
    img{
        position: relative;
        left: 60%;
        transform: translateY(30px);
        &:first-child{
            animation: fFishJump 6s ease-in-out 5s infinite none;
        }
        &:last-child{
            animation: bFishJump 5s ease-in-out 3s infinite none;
        }
    }
}

@keyframes fFishJump{
    0%{
        transform: translateX(0px) translateY(30px) rotate(90deg);
    }
    50%{
        transform: translateX(-500px) translateY(-300px) rotate(30deg);
    }
    100%{
        transform: translateX(-1000px) translateY(30px) rotate(-30deg);
    }
}

@keyframes bFishJump{
    0%{
        transform: translateX(0px) translateY(30px) rotate(0deg);
    }
    50%{
        transform: translateX(-600px) translateY(-300px) rotate(-45deg);
    }
    100%{
        transform: translateX(-1200px) translateY(30px) rotate(-90deg);
    }
}

// 云图
.cloud{
    position: fixed;
    bottom: -10px;
    width: 120%;
    img{
        position: absolute;
        bottom: -20px;
        left: -30px;
        width: 100%;
        animation: mCloudMove 20s linear 0s infinite none;
        &:first-child{
            left: -40px;
            bottom: -30px;
            animation: bCloudMove 16s linear 0s infinite none;
        }
        &:last-child{
            left: -20px;
            bottom: -60px;
            animation: fCloudMove 24s linear 0s infinite none;
        }
    }
}

@keyframes fCloudMove{
    0%{
        left: -20px;
    }
    25%{
        left:-40px;
    }
    75%{
        left:0px;
    }
    100%{
        left:-20px
    }
}

@keyframes mCloudMove{
    0%{
        left: -30px;
    }
    25%{
        left:0px;
    }
    75%{
        left:-70px;
    }
    100%{
        left:-30px
    }
}

@keyframes bCloudMove{
    0%{
        left: -40px;
    }
    25%{
        left:-80px;
    }
    75%{
        left:0px;
    }
    100%{
        left:-40px
    }
}


// 登录容器

@inputFontColor:#9fbdd2;
@inputChangeColor:#246c9b;
.inputBg{
    position: fixed;
    left: 50%;
    top: 40%;
    width: 440px;
    height: 400px;
    border-radius: 10px;
    background-color: rgb(255,255,255);
    transform: translateX(-50%) translateY(-50%);
    .infoInput{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 300px;
        height: 340px;
        color: @inputFontColor;
        transform: translateX(-50%) translateY(-50%);
        >p{
            &:first-child{
                font-size: 24px;
                color: @inputChangeColor;
            }
            &:last-child{
                margin-top: 40px;
            }
        }
        .inputContainer{
            position: relative;
            margin: 5px;
            border-bottom: 2px solid @inputFontColor;
            input{
                padding: 30px 10px 5px 10px;
                border:none;
                font-size: 16px;
                color: @inputChangeColor;
                &::-webkit-input-placeholder{
                    color: @inputFontColor;
                }
            }
            //输入框右侧图片
            img{
                position: absolute;
                right: 10px;
                bottom: 5px;
            }
            &:hover{
                border-color: @inputChangeColor;
            }
            &:focus-within{
                border-color: @inputChangeColor;
            }
        }
        button{
            float: right;
            width: 120px;
            height: 35px;
            border-radius: 5px;
            color: rgb(255,255,255);
            background-color: @inputFontColor;
            &:hover{
                background-color: @inputChangeColor;
            }
        }
    }
}
