@toppicColor:#5d759d;
@topInputColor:rgba(246,146,138,.5);

.classifyContainer{
    width: 1200px;
    margin: 0px auto 10px auto;
    .classifyTitle{
        display: flex;
        flex-direction: row;
        text-align: center;
        cursor: pointer;
        span{
            display: inline-block;
            width: 50%;
            padding: 10px;
            border: 1px solid rgba(102,102,102,.5);
        }
        .choosing{
            background-color: @toppicColor;
            color: #fff;
        }
    }
    .classifyIcon{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border: 1px solid rgba(102,102,102,.5);
        >div{
            display: flex;
            flex-direction: column;
            padding: 10px 0px;
            cursor: pointer;
        }
    }
    .concreteClassify{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border: 1px solid rgba(102,102,102,.5);
        span{
            padding: 10px 0px;
            cursor: pointer;
        }
    }
    .hideThi{
        animation: hideThi .3s linear 0s 1 forwards;
    }
    .showThi{
        animation: showThi .3s linear 0s 1 forwards;
    }
}

@keyframes hideThi{
    0%{
        opacity: 1;
        height: 44px;
    }
    100%{
        opacity: 0;
        height: 0px;
    }
}

@keyframes showThi{
    0%{
        opacity: 0;
        height: 0px;
    }
    100%{
        opacity: 1;
        height: 44px;
    }
}

.main{
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 0px auto 10px auto;
    .mainLeft{
        display: inline-block;
        width: 16%;
        margin-right: 20px;
        .leftBlock{
            border: 1px solid rgba(102,102,102,.5);
            margin-bottom: 20px;
            .leftTitle{
                display: inline-block;
                width: 100%;
                height: 28px;
                line-height: 28px;
                text-align: center;
                background-color: rgba(102,102,102,.5);
            }
        }
        .arrayBy{
            &>div{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                span{
                    cursor: pointer;
                }
                .arrayChoose{
                    color: @topInputColor;
                }
            }
        }
        .searchInput{
            display: flex;
            flex-direction: row;

            border: 2px solid @toppicColor;
            margin-bottom: 10px;
            input{
                width: 146px;
                border:none;
                padding:0px 5px;
                outline:none;
            }
            img{    
                width: 24px;
                height: 24px;
                padding: 3px;
                background-color: @toppicColor;
            }
        }
        .classifyNav{
            >ul{
                @textMove:10px;
                display: flex;
                flex-direction: column;
                text-indent: @textMove;
                >li{
                    padding:5px 0px;
                    cursor: pointer;
                    >img{
                        transform: scale(0.6) translateX(@textMove) translateY(12px);
                    }
                    >ul{
                        display: flex;
                        flex-direction: column;
                        margin: 5px 10px;
                        border: 1px solid rgba(102,102,102,.5);
                        border-width: 1px 0px;
                        font-size: 12px;
                        color: rgba(102,102,102,.5);
                        overflow: hidden;
                        .thiIndex{
                            position: relative;
                            &::before{
                                content:">";
                                position: absolute;
                                top: 0px;
                                left: -10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .goodsShow{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-between;
        width: 100%;
        &>.specificGoods{
            display: flex;
            flex-direction: column;
            width: 22%;
            height: 300px;
            margin-bottom: 20px;
            border: 1px solid rgba(102,102,102,.5);
            &>img{
                width: 100%;
            }
            &>div{
                display: flex;
                justify-content: space-between;
                .goodsPrice{
                    color: #f00;
                }
            }
            span{
                margin: 8px 0px;
                text-indent: 4px;
            }
        }
        .pageTurn{
            width: 100%;
            .turnPage{
                cursor: pointer;
            }
        }
    }
}

.leftThiEnter{
    opacity: 0;
    height: 0px;
    animation:leftEnter .5s linear .5s 1;
}
.leftThiLeave{
    animation:leftEnter .5s reverse;
}
@keyframes leftLeave{
    0%{
        opacity: 1;
        height: 168px;
    }
    100%{
        opacity: 0;
        height: 0px;
    }
}

@keyframes leftEnter{
    0%{
        opacity: 0;
        height: 0px;
    }
    100%{
        opacity: 1;
        height: 168px;
    }
}

// 导航选中
.indexChoose{
    color: @toppicColor;
}