[v-cloak] {
    display: none;
}

body{
    letter-spacing: 2px;
}

@topicDeepBColor:#5d759d;
@topicDeepRColor:rgb(246,146,138);
@topicShallowRColor:rgba(246,146,138,.5);
@deepFontColor:#666;
@shallowFontColor:#bcbcbc;
@borderColor:#eee;
@footerColor:#2f416d;

@topInputColor:rgba(246,146,138,.5);
@deepTopInputColor:rgb(246,146,138);