[v-cloak] {
    display: none;
}
@topicDeepBColor:#5d759d;
@topicDeepRColor:rgb(246,146,138);
@topicShallowRColor:rgba(246,146,138,.5);


@topInputColor:rgba(246,146,138,.5);
@deepTopInputColor:rgb(246,146,138);