body {
  margin: 0px;
  padding: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  float: left;
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
[v-cloak] {
  display: none;
}
.topContainer {
  border-bottom: 1px solid rgba(102, 102, 102, 0.5);
}
.topContainer .nav {
  height: 40px;
  color: #fff;
  background-color: #5d759d;
}
.topContainer .nav .navContainer {
  margin: 0px auto;
  width: 1100px;
}
.topContainer .nav .navContainer ul li {
  margin: 10px 20px;
  cursor: pointer;
}
.topContainer .nav .navContainer .leftNav {
  float: left;
}
.topContainer .nav .navContainer .rightNav {
  float: right;
}
.topContainer .topHandle {
  margin: 16px auto;
  width: 1200px;
}
.topContainer .topHandle > div {
  display: inline-block;
}
.topContainer .topHandle .topLogo {
  margin-left: 30px;
}
.topContainer .topHandle .topLogo img {
  float: left;
  height: 32px;
}
.topContainer .topHandle .topLogo span {
  margin-left: 10px;
  font-size: 24px;
  color: #5d759d;
}
.topContainer .topHandle .searchGoods {
  margin: 0% 5% 0% 40%;
  border: 2px solid #5d759d;
  border-radius: 5px;
}
.topContainer .topHandle .searchGoods input {
  margin: 3px;
  border: none;
  outline: none;
}
.topContainer .topHandle .searchGoods img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  cursor: pointer;
}
.topContainer .topHandle .searchGoods:hover {
  border-color: rgba(246, 146, 138, 0.5);
}
.topContainer .topHandle .searchGoods:focus-within {
  border-color: rgba(246, 146, 138, 0.5);
}
.topContainer .topHandle .mainHandle button {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 2px 8px;
  margin: 0 10px;
  color: #ffffff;
  background-color: rgba(246, 146, 138, 0.5);
  cursor: pointer;
}
.topBanner {
  position: relative;
  color: #666666;
}
.topBanner .menuwrap {
  margin: 0px auto;
  width: 1100px;
}
.topBanner .menuwrap > div {
  display: inline-block;
  border: 1px solid rgba(102, 102, 102, 0.5);
  cursor: pointer;
}
.topBanner .menuwrap > div > span {
  display: inline-block;
  padding: 5px 0px;
  width: 100px;
  text-align: center;
}
.topBanner .menuwrap > div > span:hover {
  color: #333333;
}
.topBanner .menuwrap .allClassify {
  position: relative;
  cursor: pointer;
}
.topBanner .menuwrap .allClassify:hover ul {
  display: inline-block;
}
.topBanner .menuwrap .allClassify > ul {
  position: absolute;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.topBanner .menuwrap .allClassify > ul li {
  width: 100%;
  padding: 13px 0px;
}
.topBanner .menuwrap .allClassify > ul li img {
  width: 12px;
}
.topBanner .menuwrap .allClassify > ul li:hover {
  color: #333333;
}
.topBanner .menuwrap .allClassify .detailedContent {
  position: absolute;
  left: 0px;
  width: 1000px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.8);
}
.topBanner .menuwrap .allClassify .detailedContent > div {
  float: left;
  width: 28%;
  height: 120px;
  margin: 5px 20px;
}
.topBanner .menuwrap .allClassify .detailedContent > div h4 {
  margin: 4px 0px;
  border-bottom: 2px solid #5d759d;
}
.topBanner .menuwrap .allClassify .detailedContent > div > a {
  display: inline-block;
  width: 45%;
}
.topBanner .imgPlayBox {
  width: 100%;
  height: 244px;
}
.topBanner .imgPlayBox .imgContainer img {
  width: 100%;
  height: 276px;
}
main {
  margin: 50px auto;
  width: 1100px;
}
main .announce {
  position: relative;
  border-bottom: 1px solid rgba(121, 121, 121, 0.6);
  color: #666666;
}
main .announce > img {
  float: left;
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
main .announce .moreAnnounce {
  position: absolute;
  top: 0px;
  right: 10px;
}
main .announce .moreAnnounce:hover {
  color: #5d759d;
}
main .announce p {
  margin-bottom: 0px;
}
main .announce p .announceContent {
  margin-left: 50px;
  color: #666666;
}
main .announce p .announceContent:hover {
  color: #333333;
}
main .announce p .announceTime {
  margin-left: 20px;
}
main .leftHandle,
main .rightHandle {
  position: absolute;
  top: 50%;
  font-size: 40px;
  cursor: pointer;
}
main .leftHandle:hover,
main .rightHandle:hover {
  color: #5d759d;
}
main .leftHandle {
  left: 10px;
}
main .rightHandle {
  right: 10px;
}
main .goodsList {
  position: relative;
  margin: 0px 60px;
  width: 980px;
  height: 305px;
  overflow: hidden;
  white-space: nowrap;
}
main .goodsList .concreteContent {
  display: inline-block;
  width: 20%;
  height: 300px;
  margin: 0px 20px 0px 20px;
  border: 2px solid rgba(102, 102, 102, 0.7);
  text-align: center;
}
main .goodsList .concreteContent img {
  width: 100%;
  height: 80%;
}
main .goodsList .concreteContent p {
  margin: 4px 0px;
}
main .goodsList .concreteContent:hover {
  border: 2px solid rgba(246, 146, 138, 0.5);
}
main .goodsList .moveL {
  animation: contentMoveL 0.5s ease-in-out 0s 1 forwards;
}
main .goodsList .moveR {
  animation: contentMoveR 0.5s ease-in-out 0s 1 forwards;
}
main .perfectGoods {
  position: relative;
}
main .perfectGoods h2 {
  text-align: center;
  color: rgba(246, 146, 138, 0.5);
}
main .middleBanner {
  width: 100%;
  height: 224px;
  margin: 40px 0px;
  background-image: url('../img/index/banner.png');
  background-size: cover;
}
main .specialGoods {
  position: relative;
}
main .specialGoods .specialTitle {
  position: relative;
  border-bottom: 2px solid rgba(204, 204, 204, 0.5);
  margin-bottom: 4px;
}
main .specialGoods .specialTitle div {
  display: inline-block;
  position: relative;
  padding: 5px 40px;
  border-bottom: 2px solid transparent;
  color: #5d759d;
  background-color: rgba(204, 204, 204, 0.5);
  overflow: hidden;
  cursor: pointer;
}
main .specialGoods .specialTitle div > span:first-child {
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 8px 6px;
  font-size: 12px;
  color: #fff;
  background-color: #5d759d;
}
main .specialGoods .specialTitle div .hide {
  animation: titleHide .5s linear 0s 1 forwards;
}
main .specialGoods .specialTitle em {
  position: absolute;
  display: inline-block;
  left: 0px;
  bottom: 0px;
  height: 0px;
  width: 144px;
  border-bottom: 2px solid #5d759d;
}
main .specialGoods .specialTitle .borderHot {
  animation: borHot 0.5s ease-in 0s 1 forwards;
}
main .specialGoods .specialTitle .borderNew {
  animation: borNew 0.5s ease-in 0s 1 forwards;
}
main .specialGoods .specialTitle .more {
  float: right;
}
main .specialGoods .specialTitle .more:hover {
  color: #5d759d;
}
main .specialGoods .specialTitle .show > span:first-child {
  animation: titleShow .5s linear 0s 1 forwards;
}
@keyframes titleHide {
  0% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: 32px;
    opacity: 0;
  }
}
@keyframes titleShow {
  0% {
    top: 32px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes borHot {
  0% {
    left: 148px;
    width: 144px;
  }
  50% {
    left: 144px;
    width: 0px;
  }
  100% {
    left: 0px;
    width: 144px;
  }
}
@keyframes borNew {
  0% {
    left: 0px;
    width: 144px;
  }
  50% {
    left: 144px;
    width: 0px;
  }
  100% {
    left: 148px;
    width: 144px;
  }
}
@keyframes contentMoveL {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-980px);
  }
}
@keyframes contentMoveR {
  0% {
    transform: translateX(-980px);
  }
  100% {
    transform: translateX(0px);
  }
}
footer {
  padding: 20px 0px;
  text-align: center;
  vertical-align: middle;
  background-color: #5d759d;
}
footer img {
  margin: 10px 50px;
}
footer p {
  margin-bottom: 0px;
  color: #fff;
}
