body {
  margin: 0px;
  padding: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  float: left;
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
[v-cloak] {
  display: none;
}
.topContainer {
  border-bottom: 1px solid rgba(102, 102, 102, 0.5);
}
.topContainer .nav {
  height: 40px;
  color: #fff;
  background-color: #246c9b;
}
.topContainer .nav ul li {
  margin: 10px 20px;
  cursor: pointer;
}
.topContainer .nav .leftNav {
  float: left;
  margin-left: 200px;
}
.topContainer .nav .rightNav {
  float: right;
  margin-right: 80px;
}
.topContainer .topHandle {
  margin: 16px auto;
  width: 1200px;
}
.topContainer .topHandle > div {
  display: inline-block;
}
.topContainer .topHandle .topLogo {
  margin-left: 100px;
}
.topContainer .topHandle .topLogo img {
  float: left;
  height: 32px;
}
.topContainer .topHandle .topLogo span {
  margin-left: 10px;
  font-size: 24px;
  color: #246c9b;
}
.topContainer .topHandle .searchGoods {
  margin: 0% 5% 0% 20%;
  border: 1px solid #246c9b;
  border-radius: 5px;
}
.topContainer .topHandle .searchGoods input {
  margin: 3px;
  border: none;
  outline: none;
}
.topContainer .topHandle .mainHandle button {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 2px 8px;
  margin: 0 10px;
  color: #ffffff;
  background-color: #9fbdd2;
}
.banner {
  position: relative;
}
.banner .menuwrap {
  margin-left: 100px;
}
.banner .menuwrap > div {
  display: inline-block;
  border: 1px solid rgba(102, 102, 102, 0.5);
}
.banner .menuwrap > div > span {
  display: inline-block;
  padding: 5px 0px;
  width: 100px;
  text-align: center;
}
.banner .menuwrap .allClassify {
  position: relative;
  cursor: pointer;
}
.banner .menuwrap .allClassify:hover ul {
  display: inline-block;
}
.banner .menuwrap .allClassify ul {
  display: none;
  position: absolute;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}
.banner .menuwrap .allClassify ul li {
  width: 100%;
  padding: 10px 0px;
}
.banner .menuwrap .allClassify ul li img {
  width: 12px;
}
.banner .imgPlayBox {
  width: 100%;
  height: 244px;
  background: #246c9b;
}
main {
  margin: 16px auto;
  width: 1100px;
}
main .announce {
  position: relative;
  border-bottom: 1px solid rgba(121, 121, 121, 0.6);
}
main .announce > img {
  float: left;
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
main .announce .moreAnnounce {
  position: absolute;
  top: 0px;
  right: 10px;
}
main .announce p {
  margin-bottom: 0px;
}
main .announce p .announceContent {
  margin-left: 50px;
}
main .announce p .announceTime {
  margin-left: 20px;
}
main .perfectGoods {
  position: relative;
}
main .perfectGoods h2 {
  text-align: center;
  color: #246c9b;
}
main .perfectGoods .leftHandle,
main .perfectGoods .rightHandle {
  position: absolute;
  top: 50%;
  font-size: 40px;
}
main .perfectGoods .leftHandle {
  left: 10px;
}
main .perfectGoods .rightHandle {
  right: 10px;
}
main .perfectGoods .perfectList {
  position: relative;
  text-align: center;
  margin: 0px 60px;
}
main .perfectGoods .perfectList .perfectContent {
  display: inline-block;
  width: 20%;
  height: 300px;
  margin: 0px 20px;
  border: 1px solid rgba(102, 102, 102, 0.7);
}
main .perfectGoods .perfectList .perfectContent img {
  width: 100%;
  height: 80%;
}
main .perfectGoods .perfectList .perfectContent p {
  margin: 4px 0px;
}
main .perfectGoods .perfectList .perfectContent:hover {
  border: 2px solid #246c9b;
}
main .banner img {
  width: 100%;
}
