[v-cloak] {
  display: none;
}
.classifyContainer {
  width: 1200px;
  margin: 0px auto 10px auto;
}
.classifyContainer .classifyTitle {
  display: flex;
  flex-direction: row;
  text-align: center;
  cursor: pointer;
}
.classifyContainer .classifyTitle span {
  display: inline-block;
  width: 50%;
  padding: 10px;
  border: 1px solid rgba(102, 102, 102, 0.5);
}
.classifyContainer .classifyTitle .choosing {
  background-color: #5d759d;
  color: #fff;
}
.classifyContainer .classifyIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid rgba(102, 102, 102, 0.5);
}
.classifyContainer .classifyIcon > div {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  cursor: pointer;
}
.classifyContainer .concreteClassify {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid rgba(102, 102, 102, 0.5);
}
.classifyContainer .concreteClassify span {
  padding: 10px 0px;
  cursor: pointer;
}
.classifyContainer .hideThi {
  animation: hideThi .3s linear 0s 1 forwards;
}
.classifyContainer .showThi {
  animation: showThi .3s linear 0s 1 forwards;
}
@keyframes hideThi {
  0% {
    opacity: 1;
    height: 44px;
  }
  100% {
    opacity: 0;
    height: 0px;
  }
}
@keyframes showThi {
  0% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 1;
    height: 44px;
  }
}
.main {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: 0px auto 10px auto;
}
.main .mainLeft {
  display: inline-block;
  width: 16%;
  margin-right: 20px;
}
.main .mainLeft .leftBlock {
  border: 1px solid rgba(102, 102, 102, 0.5);
  margin-bottom: 20px;
}
.main .mainLeft .leftBlock .leftTitle {
  display: inline-block;
  width: 100%;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background-color: rgba(102, 102, 102, 0.5);
}
.main .mainLeft .arrayBy > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.main .mainLeft .arrayBy > div span {
  cursor: pointer;
}
.main .mainLeft .arrayBy > div .arrayChoose {
  color: rgba(246, 146, 138, 0.5);
}
.main .mainLeft .searchInput {
  display: flex;
  flex-direction: row;
  border: 2px solid #5d759d;
  margin-bottom: 10px;
}
.main .mainLeft .searchInput input {
  width: 146px;
  border: none;
  padding: 0px 5px;
  outline: none;
}
.main .mainLeft .searchInput img {
  width: 24px;
  height: 24px;
  padding: 3px;
  background-color: #5d759d;
}
.main .mainLeft .classifyNav > ul {
  display: flex;
  flex-direction: column;
  text-indent: 10px;
}
.main .mainLeft .classifyNav > ul > li {
  padding: 5px 0px;
  cursor: pointer;
}
.main .mainLeft .classifyNav > ul > li > img {
  transform: scale(0.6) translateX(10px) translateY(12px);
}
.main .mainLeft .classifyNav > ul > li > ul {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
  border: 1px solid rgba(102, 102, 102, 0.5);
  border-width: 1px 0px;
  font-size: 12px;
  color: rgba(102, 102, 102, 0.5);
  overflow: hidden;
}
.main .mainLeft .classifyNav > ul > li > ul .thiIndex {
  position: relative;
}
.main .mainLeft .classifyNav > ul > li > ul .thiIndex::before {
  content: ">";
  position: absolute;
  top: 0px;
  left: -10px;
}
.main .goodsShow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  width: 100%;
}
.main .goodsShow > .specificGoods {
  display: flex;
  flex-direction: column;
  width: 22%;
  height: 300px;
  margin-bottom: 20px;
  border: 1px solid rgba(102, 102, 102, 0.5);
}
.main .goodsShow > .specificGoods > img {
  width: 100%;
}
.main .goodsShow > .specificGoods > div {
  display: flex;
  justify-content: space-between;
}
.main .goodsShow > .specificGoods > div .goodsPrice {
  color: #f00;
}
.main .goodsShow > .specificGoods span {
  margin: 8px 0px;
  text-indent: 4px;
}
.main .goodsShow .pageTurn {
  width: 100%;
}
.main .goodsShow .pageTurn .turnPage {
  cursor: pointer;
}
.leftThiEnter {
  opacity: 0;
  height: 0px;
  animation: leftEnter .5s linear .5s 1;
}
.leftThiLeave {
  animation: leftEnter .5s reverse;
}
@keyframes leftLeave {
  0% {
    opacity: 1;
    height: 168px;
  }
  100% {
    opacity: 0;
    height: 0px;
  }
}
@keyframes leftEnter {
  0% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 1;
    height: 168px;
  }
}
.indexChoose {
  color: #5d759d;
}
