<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div id="app">
        <div class="topContainer">
            <!-- 导航栏 -->
            <nav class="nav">
                <ul class="leftNav">
                    <li>首页</li>
                    <li>租赁</li>
                    <li>赠送</li>
                </ul>
                <ul class="rightNav">
                    <li class="schoolChoose">广东金融学院</li>
                    <li>学校</li>
                    <li>卖家</li>
                    <li>买家</li>
                    <li>登录</li>
                </ul>
            </nav>
            <!-- 顶部操作 -->
            <div class="topHandle">

                <div class="topLogo">
                    <img src="img/antsLogo.png" alt="蚂蚁置物">
                    <span v-cloak>{{projectName}}</span>
                </div>


                <div class="searchGoods">
                    <input type="text">
                    <span>sou</span>
                </div>

                <div class="mainHandle">
                    <button>发布寻求</button>
                    <button>正在寻求</button>
                </div>

            </div>
        </div>
        <!-- 横幅 -->
        <div class="banner">
            <div class="menuwrap">
                <div class="allClassify">
                    <span>所有分类</span>
                    <ul>
                        <li v-for="classify in wholeClassify">
                            <img :src='[classify.src]'> {{classify.name}}
                        </li>
                    </ul>
                </div>
                <div class="otherClassify">
                    <span>其他</span>
                </div>
            </div>
            <!-- 轮播图 -->
            <div class="imgPlayBox">
                <div class="imgContainer">

                </div>
                <div class="playHandle">

                </div>
            </div>
        </div>


        <!-- 主要部分 -->
        <main>
            <!-- 公告 -->
            <div class="announce">
                <img src="img/tongzhi.png">
                <p>
                    <strong>公告</strong>
                    <a href="#" class="announceContent">通知</a>
                    <span class="announceTime">时间</span>
                </p>
                <a href="#" class="moreAnnounce">更多</a>
            </div>


            <div class="perfectGoods">
                <h2 class="perfectTitle">猜你喜欢</h2>

                <span class="leftHandle" @click="turnLeft"><</span>
                <div class="perfectList">
                    <div class="perfectContent" v-for="content in perfectGoods">
                        <a href="#">
                            <img :src="[content.img]">
                        </a>
                        <p v-cloak>{{content.name}}</p>
                        <p v-cloak>{{content.price}}</p>
                    </div>
                </div>
                <span class="rightHandle" @click="turnRight">></span>

            </div>

            <div class="banner">
                <img src="" alt="">
            </div>


        </main>



    </div>
    <script src="js/vue.js"></script>
    <script src="js/index.js"></script>
</body>

</html>