<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/search.css">
</head>

<body>
    <script src="js/header.js"></script>
    <div id="app">
        <div class="classifyContainer">
            <div class="classifyTitle">
                <span :class="{'choosing':!others}" @click="changeChoose('classify')">分类</span>
                <span :class="{'choosing':others}" @click="changeChoose('others')">其他</span>
            </div>
            <div class="classifyIcon">
                <div v-for="(classify,index) in synthesis" @click="showChildList(index)">
                    <img :src="['img/icon/'+classify.parentPicture]">
                    <span v-cloak :class="{'indexChoose':secIndex==index}">{{classify.parentName}}</span>
                </div>
            </div>
            <div :class="['concreteClassify',secIndex==0?'hideThi':'showThi']">
                <span :class="{'indexChoose':thiIndex==index}" v-for="(classify,index) in childList" @click="titleSearch(index)" v-cloak>{{classify.subClassName}}</span>
            </div>
        </div>

        <div class="main">
            <div class="mainLeft">
                <div class="arrayBy leftBlock">
                    <span class="leftTitle">全部商品</span>
                    <div>
                        <span v-cloak :class="[type=='1'?'arrayChoose':'']" @click="changeArrayBy('1')">按综合</span>
                        <span v-cloak :class="[type=='2'?'arrayChoose':'']" @click="changeArrayBy('2')">按时间</span>
                        <span v-cloak :class="[type=='3'?'arrayChoose':'']" @click="changeArrayBy('3')">按价格</span>
                    </div>
                </div>
                <div class="searchInput">
                    <input type="text">
                    <img src="img/index/search.png">
                </div>

                <div class="classifyNav leftBlock">
                    <span class="leftTitle">全部分类</span>
                    <ul>
                        <li v-for="(classify,index) in synthesis" @click="showChildList(index)">
                            <img :src="['img/icon/'+classify.parentPicture]">
                            <span :class="[secIndex==index?'indexChoose':'']" v-cloak>{{classify.parentName}}</span>
                            <transition name="leftNav" enter-active-class="leftThiEnter" leave-active-class="leftThiLeave">
                                <ul v-if="index==secIndex&&index!==0">
                                    <li v-for="(cla,i) in childList" :class="[i==thiIndex?'thiIndex':'']" @click="titleSearch(i)" v-cloak>{{cla.subClassName}}</li>
                                </ul>
                            </transition>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="goodsShow">
                <div class="specificGoods" v-for="ex in goodsList">
                    <img :src="['img/search/'+ex.goodsPicture]">
                    <span v-cloak>{{ex.goodsName}}</span>
                    <div>
                        <span class="goodsPrice" v-cloak>￥{{ex.goodsPrice}}元</span>
                        <span class="uploadTime" v-cloak>{{ex.uploadTime}}</span>
                    </div>
                </div>
                <div class="pageTurn">
                    <span class="turnPage" @click="turn(currentPage-1)"><</span>
                    <div class="pageContainer">
                        <span :class="{'currentPage':p==currentPage}" v-for="p in page" v-cloak @click="turn(p)">{{p}}</span>
                    </div>
                    <span class="turnPage" @click="turn(currentPage+1)">></span>
                    <span v-cloak>共{{page}}页</span>
                </div>
            </div>

        </div>
    </div>
    <script src="js/footer.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/search.js"></script>
</body>

</html>