<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/search.css">
</head>

<body>
    <script src="js/header.js"></script>
    <div id="app">
        <div class="classifyContainer">
            <div class="classifyTitle">
                <span :class="[others?'':'choosing']" @click="changeChoose('classify')">分类</span>
                <span :class="[others?'choosing':'']" @click="changeChoose('others')">其他</span>
            </div>
            <div class="classifyIcon">
                <div v-for="(classify,index) in synthesis" @click="childList(index)">
                    <img :src="['img/icon/'+classify.parentPicture]">
                    <span :class="[secIndex==index?'indexChoose':'']">{{classify.parentName}}</span>
                </div>
            </div>
            <div :class="['concreteClassify',secIndex==0?'hideThi':'showThi']">
                <span :class="[thiIndex==index?'indexChoose':'']" v-for="(classify,index) in composite" @click="titleSearch(index)">{{classify.subClassName}}</span>
            </div>
        </div>

        <div class="main">
            <div class="mainLeft">
                <div class="arrayBy leftBlock">
                    <span class="leftTitle">全部商品</span>
                    <div>
                        <span :class="[arrayBy=='综合'?'arrayChoose':'']" @click="changeArrayBy('综合')">按综合</span>
                        <span :class="[arrayBy=='时间'?'arrayChoose':'']" @click="changeArrayBy('时间')">按时间</span>
                        <span :class="[arrayBy=='价格'?'arrayChoose':'']" @click="changeArrayBy('价格')">按价格</span>
                    </div>
                </div>
                <div class="searchInput">
                    <input type="text">
                    <img src="img/index/search.png">
                </div>

                <div class="classifyNav leftBlock">
                    <span class="leftTitle">全部分类</span>
                    <ul>
                        <li v-for="(classify,index) in synthesis">
                            <img :src="['img/icon/'+classify.parentPicture]">
                            <span :class="[secIndex==index?'indexChoose':'']" @click="childList(index)">{{classify.parentName}}</span>
                            <transition name="leftNav" enter-active-class="leftThiEnter" leave-active-class="leftThiLeave">
                                <ul v-if="index==secIndex">
                                    <li v-for="(cla,i) in composite" :class="[i==thiIndex?'thiIndex':'']" @click="titleSearch(i)">{{cla.subClassName}}</li>
                                </ul>
                            </transition>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="goodsShow">
                <div class="specificGoods" v-for="ex in goodsExample">
                    <img :src="['img/search/'+ex.goodsPicture]">
                    <span>{{ex.goodsName}}</span>
                    <div>
                        <span class="goodsPrice">￥{{ex.goodsPrice}}元</span>
                        <span class="uploadTime">{{ex.uploadTime}}</span>
                    </div>
                </div>
                <div class="pageTurn">
                    <span class="turnPage"><</span>
                    <span class="page" v-for="page in allPage">{{page}}</span>
                    <span>共{{allPage}}页</span>
                    <span class="turnPage">></span>
                </div>
            </div>

        </div>
    </div>
    <script src="js/footer.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/search.js"></script>
</body>

</html>